html,
body,
header {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  font-family: monospace;
  user-select: none;
  font-size: 16px;
}

header {
  height: 80px;
  position: relative;
  background-color: rgb(198, 239, 255);
}

.title {
  line-height: 80px;
  font-family: monospace;
}

.nav {
  position: absolute;
  right: 0px;
  top: 0px;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 200px;
  border-radius: 50%;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.human {
  width: 40%;
  margin-bottom: 100px;
}

.form {
  margin-bottom: 100px;
}

.link {
  margin-right: 10px;
}
