body {
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  position: relative;
}

.title {
  line-height: 80px;
  font-family: monospace;
}

.nav {
  position: absolute;
  right: 0px;
  top: 0px;
}

.resister {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.link {
  color: #fff;
  text-decoration: none;
}
