body {
  font-family: monospace;
  user-select: none;
  font-size: 16px;
  background-color: #fff;
}

/* // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // ーーーーーーーーーーーーーー『Form』ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.pc-form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.pc-text {
  margin: 0;
  color: #fff;
}
